doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    | 	
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    | 	
    meta(name="viewport", content="width=device-width, initial-scale=1")
    | 	
    title Result currency
    | 	
    link(rel="stylesheet", type="text/css", href="/css/bootstrap.min.css")
    script(src='sw.js')
  body
    br
    br
    br
    |     
    .container
      .card
        .card-header
          | Conversion Result
        |   
        .card-body
          h5.card-title Result : #{ rs }
          |     
          p.card-text Amount : #{ am }
          |     
          p.card-text FromCurrent : #{ from }
          |     
          p.card-text ToCurrent : #{ to }
          |     
          a.btn.btn-primary(href="/") Return
